h1 {
    color: #27aedb;
    text-align: center;
    background-color: antiquewhite;
    height: 60px;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
p{
    text-align: center;
    background-color: beige;
}